.accueil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    min-height: 90vh;
  }
.accueil-container{
    min-height: 25vh;
  }
