<div class="barreNavigation">
    <a href="/">Accueil</a>
    <a href="/conception_devis_projet">Conception devis</a>
    <a href="/consultation_devis">Consulter devis</a>
    <a href="">Configuration</a>
</div>