
<%- include('header') %> 

<div>
    <a href="/">- Accueil -</a>
    <a href="/conception_devis_projet">- Conception devis -</a>
    <a href="/consultation_devis">- Consulter devis -</a>
    <a href="">- Configuration -</a>
</div>

<h1>Accueil</h1>



<%- include('footer') %> 