<%- include('head') %>

    <%- include('header') %>

        <section class="accueil">
            <a class="accueil-container responsive-box shadow transform text-title2" href="/conception_devis_projet">
            Concevoir un devis
            <i class="accueil-icone fas fa-pencil-ruler"></i>
        </a>
            <a class="accueil-container responsive-box shadow transform text-title2" href="/consultation_devis">
            Consulter un devis
            <i class="accueil-icone fas fa-clipboard"></i>
        </a>
        </section>


        <%- include('footer') %>